# Node & JavaScript
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json

# Next.js
.next/
out/
.vercel/

# Env files
.env
.env.*
!.env.example
.env.local
!web-fairfund/.env.example

# Foundry
cache/
out/
lib/
!smart-contract/lib/
!web-fairfund/lib/
!web-fairfund/src/lib/

# OS / Editor
.DS_Store
*.swp
*.swo
.idea/
.vscode/

# Coverage & Logs
coverage/
logs/
tmp/


